@font-face {
  font-family: 'Didact Gothic';
  src: url('DidactGothic-Regular.ttf') format('truetype');
}

body {
  font-family: 'Didact Gothic', sans-serif;
  background-color: #233d4d;
}

h1 {
  color: #cc2936;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

h2 {
  color: #bcd979;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  font-style: italic;
}

h3 {
  color: #bcd979;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  font-style: italic;
}

p {
  color: #bcd979;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

a:visited{
    color: #bcd979;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}

a {
    color: #bcd979;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}
